[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
"psycopg2-binary" = "*"
django-cors-headers = "*"
graphene-django = "*"

[dev-packages]
django-admin = "*"
"flake8" = "*"
black = "*"

[requires]
python_version = "3.6"
