[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"psycopg2-binary" = "*"
django-cors-headers = "*"
graphene-django = "*"
django-graphql-jwt = "*"
django = "==2.2.8"

[dev-packages]
django-admin = "*"
black = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
